/* ========================================================== */
/* -------------------->>> CSS Styles <<<-------------------- */
/* ========================================================== */

/* ==========================================================

	Project Name: Reflux
	Project URL: http://
	
	Project Description: I made this project while I was practicing HTML/CSS with my secret TG team.
	
	
	*	About Author
		------------
		Author: Ibnu Mahtab Hussain
		Author URL: http://ibnucode.com
		Support: ibnumahtab@gmail.com

	*	Social Profiles
		---------------
		Facebook: https://www.facebook.com/ibnumahtab
		Twitter: https://twitter.com/IbnuMahtab
		GitHub: https://github.com/ibnumahtab
	
	*	Version Update
		--------------
		Version: 1.0
	
 ========================================================== */

/* ==========================================================

	Table of Content
	----------------
	00. Common CSS
	01. 
	02. 
	03. 
	04. 
	05. 
	06. 
	07. 
	08. 
	09.
	10.
 ========================================================== */

/* 
		---> 00. Common CSS <---
======================================== */
body {
	color: #e8e8e8;
	font-family: 'Inconsolata';
	font-size: 18px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-family: 'Nova Square';
	line-height: 1.5em;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

a {
	color: #e8e8e8;
	text-decoration: none;
}

a:hover,
input[type=submit]:hover {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	width: 100%;
}

input,
textarea,
input:focus,
textarea:focus {
	background-color: transparent;
	border: none;
	outline: none;
}

hr {
	border: none;
	border-bottom: 2px solid #55535267;
}

.section-break-rule {
	border-bottom: 3px solid #555352;
}

.profile,
.social-links {
	padding: 60px 40px;
	overflow: hidden;
}


/* 
		---> 01. Main Wrapping Section <---
=========================================== */
#main-section {
	background: url('./assets/img/page-bg.jpg') no-repeat fixed center/cover;
}

/* 
		---> 02. Wrapper Class Style <---
========================================== */
.wrapper {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

/* 
		---> 03. Navbar Style <---
=================================== */

#side-navbar {
	width: 25%;
	background-color: #5352ed;
	text-align: center;
	overflow: hidden;
}

/* → Profile ←
--------------- */
.profile-image {
	padding-bottom: 20px;
}

/* → Menu ←
------------ */
.menu {
	overflow: hidden;
}

.menu-items li {
	padding: 22px 10px;
	font-size: 25px;
	border-top: 2px solid #e8e8e8;
	transition: .2s;
}

.menu-items li:last-child {
	border-bottom: 2px solid #e8e8e8;
}

.menu-items li:hover {
	background-color: #e8e8e8;
	cursor: pointer;
}

.menu-items li:hover a {
	color: #555352;
}

/* → Social Profiles ←
----------------------- */
.social-links {
	border: 1px solid #55535238;
}
.social-items li {
	display: inline;
	padding: 8px;
	font-size: 18px;
	background-color: #03031b3b;
	transition: .2s;
}

.social-items li:hover {
	background-color: #e8e8e8;
	cursor: pointer;
}

.social-items li:hover:first-child a {
	color: #1877f2;
}

.social-items li:hover:nth-child(2) a {
	color: #1da1f2
}

.social-items li:hover:nth-child(3) a {
	color: #0077b5;
}

.social-items li:hover:nth-child(4) a {
	color: #161b22;
}

.social-items li:hover:last-child a {
	color: #e34a85;
}

/* → Copyright Section ←
------------------------- */
.copyright {
	padding: 20px 40px;
}

/* 
		---> 04. Descroption Section <---
========================================== */
#descriptions {
	width: 75%;
	overflow: hidden;
}
.descriptions-wrapper {
	padding-left: 60px;
}

















