/* ========================================================== */
/* -------------------->>> CSS Styles <<<-------------------- */
/* ========================================================== */

/* ==========================================================

	Project Name: Reflux
	Project URL: http://
	
	Project Description: I made this project while I was practicing HTML/CSS with my secret TG team.
	
	
	*	About Author
		------------
		Author: Ibnu Mahtab Hussain
		Author URL: http://ibnucode.com
		Support: ibnumahtab@gmail.com

	*	Social Profiles
		---------------
		Facebook: https://www.facebook.com/ibnumahtab
		Twitter: https://twitter.com/IbnuMahtab
		GitHub: https://github.com/ibnumahtab
	
	*	Version Update
		--------------
		Version: 1.0
	
 ========================================================== */

/* ==========================================================

	Table of Content
	----------------
	00.
	01. 
	02. 
	03. 
	04. 
	05. 
	06. 
	07. 
	08. 
	09.
	10.
 ========================================================== */

/* 
		---> 00. Something <---
======================================== */
